<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p>Completed? <%= @task.completed ? 'Yes' : 'No' %></p>
<p><%= link_to 'Edit Task', edit_path %></p>

<%= link_to 'Back to My tasks', index_path %>
